<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Courses" connectionString="Data source=SSQL-12R2WEB01.client.parking.ru;Initial catalog=silverha_vpn06;User ID=silverha_vpn06;Password=x2eceFMnGf;"
            providerName="System.Data.SqlClient" />
        <add name="Повышение_квалификации.Properties.Settings.повышение_квалифConnectionString"
            connectionString="Data Source=SSQL-12R2WEB01.client.parking.ru;Initial Catalog=silverha_vpn06;Persist Security Info=True;User ID=silverha_vpn06;Password=x2eceFMnGf"
            providerName="System.Data.OleDb" />
        <add name="Повышение_квалификации.Properties.Settings.повышение_квалифConnectionString1"
            connectionString="Data Source=SSQL-12R2WEB01.client.parking.ru;Initial Catalog=silverha_vpn06;Persist Security Info=True;User ID=silverha_vpn06;Password=x2eceFMnGf"
            providerName="System.Data.OleDb" />
        <add name="Повышение_квалификации.Properties.Settings.Курсы_ОбученяConnectionString"
            connectionString="Data Source=SSQL-12R2WEB01.client.parking.ru;Initial Catalog=silverha_vpn06;Persist Security Info=True;User ID=silverha_vpn06;Password=x2eceFMnGf"
            providerName="System.Data.SqlClient" />
        <add name="Повышение_квалификации.Properties.Settings.ConnectionString"
            connectionString="Data Source=SSQL-12R2WEB01.client.parking.ru;Initial Catalog=silverha_vpn06;Persist Security Info=True;User ID=silverha_vpn06;Password=x2eceFMnGf"
            providerName="System.Data.SqlClient" />
        <add name="Повышение_квалификации.Properties.Settings.silverha_fkd6qConnectionString"
            connectionString="Data Source=SSQL-12R2WEB01.client.parking.ru;Initial Catalog=silverha_vpn06;Persist Security Info=True;User ID=silverha_vpn06;Password=x2eceFMnGf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
